DB/
ASP web/BTL-ASP/obj/Debug/BTL-ASP.csprojAssemblyReference.cache
ASP web/.vs/BTL-ASP/v16/.suo
ASP web/BTL-ASP/obj/Debug/BTL-ASP.csprojAssemblyReference.cache
ASP web/BTL-ASP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache