
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/styles/forgotpass.css">
    <link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <title>SignUp</title>
</head>

<body>
    <div class="container">
        <span class="text">Forgot Password</span>
        <div class="col-md-3 col-md-offset-4">
            <div class="login-form">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <input class="form-control" value="" placeholder="Email"name="email" id="email" type="text">
                    </div>
                    <br><input type="submit" class="btn btn-info" value="Gửi email" />
                    <br>
                    <br> <a class="btn btn-info" href="@Url.Action("Login", "Home")">Back</a>
                }
            </div>
    </div>
</body>
