@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/shipping.css">
<link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.css">

@if (Model != null)
{
    <div class="content-wrapper">
        <p class="h4 text-header">CHỌN ĐỊA CHỈ MUA HÀNG</p>
        <div class="default-info border">
            <p class="user-name" id="name">@(((GioHang)Model).TenKH)</p>
            <p class="user-info" id="address">Địa chỉ:@(((GioHang)Model).DiaChi)</p>
            <p class="user-info" id="mail">Email:@(((GioHang)Model).Email)</p>
            <p class="user-info" id="phone">SĐT:@(((GioHang)Model).SDT)</p>
            <div class="action">
                <input type="button" class="btn btn-primary btn-sm" value="Giao hàng đến địa chỉ này" onclick="" />
                <input type="button" class="btn btn-light btn-sm" value="Sửa" onclick="changeAddress()" />
            </div>
        </div>
        <p class="default-info">Không phải địa chỉ này ? <a href="javascript:show();">Giao hàng đến địa chỉ khác</a></p>
        <div class="info">
            <form action="/Home/Payment" method="post">
                <div class="form">
                    <div class="input">
                        <label for="name">Họ tên:</label><input type="text" class="form-control" name="name">
                        <label for="phone">SĐT:</label><input type="number" class="form-control" name="phone">
                        <label for="mail">Email:</label><input type="text" class="form-control" name="mail">
                        <label for="address">Địa chỉ:</label><textarea class="form-control" name="address"></textarea>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Xác nhận" style="margin-top:20px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function changeAddress() {
            document.querySelector('.info').style.display = 'block';
            document.getElementsByName('name')[0].value = document.getElementById("name").innerText;
            document.getElementsByName('phone')[0].value = document.getElementById("phone").innerText.substring(4);
            document.getElementsByName('mail')[0].value = document.getElementById("mail").innerText.substring(6);
            document.getElementsByName('address')[0].value = document.getElementById("address").innerText.substring(8);
        }
        function show() {
            document.querySelector('.info').style.display = 'block';
            document.getElementsByName('name')[0].value = "";
            document.getElementsByName('phone')[0].value = "";
            document.getElementsByName('mail')[0].value = "";
            document.getElementsByName('address')[0].value = "";
        }
    </script>
}
else
{
    <div class="content-wrapper">
        <p class="h4 text-header">CHỌN ĐỊA CHỈ MUA HÀNG</p>
        <div class="info" style="display:block">
            <form action="/Home/Payment" method="post">
                <div class="form">
                    <div class="input">
                        <label for="name">Họ tên:</label><input type="text" class="form-control" name="name">
                        <label for="phone">SĐT:</label><input type="number" class="form-control" name="phone">
                        <label for="mail">Email:</label><input type="text" class="form-control" name="mail">
                        <label for="address">Địa chỉ:</label><textarea class="form-control" name="address"></textarea>
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Xác nhận" style="margin-top:20px;">
                    </div>
                </div>
            </form>
        </div>
    </div>
}