@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;

<link rel="stylesheet" href="~/Content/styles/shipping.css">
<link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.css">

@if (Model != null)
{
<div class="content-wrapper">
    <p class="h4 text-header">SHIPPING ADDRESS</p>
    <div class="default-info border">
        <p class="user-name" id="name">@(((GioHang)Model).TenKH)</p>
        <p class="user-info" id="address">Address:@(((GioHang)Model).DiaChi)</p>
        <p class="user-info" id="mail">Email:@(((GioHang)Model).Email)</p>
        <p class="user-info" id="phone">Phone's number:@(((GioHang)Model).SDT)</p>
        <div class="action">
            <input type="button" class="btn btn-primary btn-sm" value="Ship to this address" onclick="location.href='@Url.Action("Payment", "Home")'" />
            <input type="button" class="btn btn-light btn-sm" value="Edit" onclick="changeAddress()" />
        </div>
    </div>
    <p class="default-info">Don't want us shipping to this address? <a href="javascript:show();">Ship to another address </a></p>
    <div class="info">
        <form action="/Home/Payment" method="post">
            <div class="form">
                <div class="input">
                    <label for="name">Name:</label><input type="text" class="form-control" name="name">
                    <label for="phone">Phone's number:</label><input type="number" class="form-control" name="phone">
                    <label for="mail">Email:</label><input type="text" class="form-control" name="mail">
                    <label for="address">Address:</label><textarea class="form-control" name="address"></textarea>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Confirm" style="margin-top:20px;">
                </div>
            </div>
        </form>
    </div>
    <a class="chatbubble" href="https://www.messenger.com/t/sonnam99" target="_blank"><img class="bubble-img" src="~/Content/images/items/messenger.png"></a>
</div>
    <script>
        function changeAddress() {
            document.querySelector('.info').style.display = 'block';
            document.getElementsByName('name')[0].value = document.getElementById("name").innerText;
            document.getElementsByName('phone')[0].value = document.getElementById("phone").innerText.substring(15);
            document.getElementsByName('mail')[0].value = document.getElementById("mail").innerText.substring(6);
            document.getElementsByName('address')[0].value = document.getElementById("address").innerText.substring(8);
        }
        function show() {
            document.querySelector('.info').style.display = 'block';
            document.getElementsByName('name')[0].value = "";
            document.getElementsByName('phone')[0].value = "";
            document.getElementsByName('mail')[0].value = "";
            document.getElementsByName('address')[0].value = "";
        }
    </script>
}
else
{
<div class="content-wrapper">
    <p class="h4 text-header">SHIPPING ADDRESS</p>
    <div class="info" style="display:block">
        <form action="/Home/Payment" method="post">
            <div class="form">
                <div class="input">
                    <label for="name">Name:</label><input type="text" class="form-control" name="name">
                    <label for="phone">Phone's number:</label><input type="number" class="form-control" name="phone">
                    <label for="mail">Email:</label><input type="text" class="form-control" name="mail">
                    <label for="address">Address:</label><textarea class="form-control" name="address"></textarea>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Xác nhận" style="margin-top:20px;">
                </div>
            </div>
        </form>
    </div>
    <a class="chatbubble" href="https://www.messenger.com/t/sonnam99" target="_blank"><img class="bubble-img" src="~/Content/images/items/messenger.png"></a>
</div>
}