@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BTL_ASP.Models;
@model SanPhamGioHang

<link rel="stylesheet" href="~/Content/styles/shopcart.css">

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="shopping-history">
                <div class="glOjBk">
                    <div class="heading">Đơn hàng của tôi</div>
                    <div class="inner">
                        <table>
                            <thead>
                                <tr>
                                    <th>Số thứ tự</th>
                                    <th>Sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Hộp 10 Đôi Tất Cổ Cao Chống Hôi Chân Xuất Nhật Cho Nam</td>
                                    <td><input type="number" value="1" min="1" onkeydown="return false"></td>
                                    <td>72.292 ₫</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Dép Kẹp Tong Suede 2184 - Tím Huế (Size 37)...và 01 sản phẩm khác</td>
                                    <td><input type="number" value="1" min="1 onkeydown=" return false""></td>
                                    <td>50.000 ₫</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Tai Nghe Nhét Tai Hoco M1 - Hàng Nhập Khẩu</td>
                                    <td><input type="number" value="1" min="1" onkeydown="return false"></td>
                                    <td>73.776 ₫</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="result-wrapper">
                <div class="result">
                    <div class="total">Tổng tiền: 10.000.000đ</div>
                    <button type="button" class="btn btn-primary">Mua hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>