/*cài đặt các cột start*/

.col-center-block { 
    float: none;    
    display: block; 
    margin-left: auto;  
    margin-right: auto;
}
.col-md-3 {
    margin: auto;
    top: 30px;
}
/*cài đặt các cột end*/   
/*cài đặt container start*/ 
.container {    
    height: 100%;   
    width: 100%;
    background-color: transparent; 
    display: table; 
    vertical-align: middle;
    margin-top: 285px;
    z-index: 1;
    margin-left: 600px;
    text-align: center;
}
/*cài đặt container start*/
/*cài đặt text start*/
.text {
    color:white;
    padding: 0 15px;
    font-size: 30px;
    font-family: 'Roboto-Condensed-Bold';
    text-transform: uppercase;
}
/*cài đặt text start*/
body {
    background-image: url(../images/items/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/**/
.checkbox label {
    color: white;
}

