/*content-wrapper start*/
.content-wrapper {
    margin-top: 60px;
}

/*phục vụ cho slide start */
.carousel {
    background: #EEE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: 60px;
}

.carousel a img {
    display: block;
    width: 100%;
    height: 100%;
}
.carousel a {
    display: block;
    width: 75%;
    height: auto;
}

/*phục vụ cho slide end*/
/*container - chứa các khung sản phẩm start*/
.container-products {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1170px;
}
/*prefixtitle - khung chứa title start*/
.prefixtitle {
    margin: 40px 0 20px;
    padding: 10px 0px;
    display: block;
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    position: relative;
    font-weight: 400;
}
/*title start*/
.title {
    background-color: white;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    margin: 0 auto;
    font-family: Poppins;
    font-size: 36px;
}
.prefixtitle:before {
    border-bottom: 1px solid #ebebeb;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 100%;
}
/*title end*/
/*prefixtitle - khung chứa title end*/
/*grid để các sản phẩm start*/
.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap : 20px;
    padding: 10px;
    height: auto;
    width: auto;
    position: relative;
}
/*grid item start*/
.grid-item {
    background: #EEE;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
}

.grid-item a img {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grid-item a {
    display: block;
    height: auto;
    margin: 0;
}
.grid-item:hover {
    box-shadow: none;
}

/*grid item end*/
/*grid để các sản phẩm end*/
/*khung chứa button start*/
.prefixbutton {
    margin: 40px 0 20px;
    padding: 10px 0px;
    display: block;
    font-family: Poppins;
    text-align: center;
    font-size: 14px;
    position: relative;
    font-weight: 400;
}
/*buton load thêm sản phẩm start*/
.button {
    background-color:whitesmoke; 
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color: #484848;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: none;
}
/*buton load thêm sản phẩm end*/
/*khung chứa button end*/
/*container - chứa các khung sản phẩm end*/
/*content-wrapper end*/
