/* header start */
html{
    width: 100%;
    min-width: 950px;
    max-width: 1920px;
    margin: 0 auto;
}
body{
    margin: 0;
}

div.header-wrapper{
    height: 60px;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 5px 5px 0px rgb(211,211,211);
}

div.header{
    margin: 0 auto;
    height: 100%;
    display: flex;
    position: relative;
    width: 100%;
}

ul.items-wrapper{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.items-wrapper li{
    display: block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

li.header-item{
    margin-top: 20px;    
}
li.header-item a{
    font-family: Montserrat,sans-serif; 
    text-decoration: none;
    color: #484848;
}

img.logo{
    width: 50px;
    height: 50px;
}
img.shop-cart{
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

li.dropdown {
    display: inline-block;
  }
  
div.dropdown-content {
    display: none;
    position: absolute; 
    top: 40px;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-content a {
    color: #484848;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
/*footer start*/
/*footertop start*/
.footertop {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1170px;
    text-align: center;
}
/*xu ly doan text start*/
.prefixtext{
    margin: 40px 0 20px;
    padding: 10px 0px;
    display: block;
    font-family: Poppins;
    font-size: 14px;
    position: relative;
    font-weight: 400;
}
.text {
    background-color: white;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    margin: 0 auto;
    font-family: Poppins;
    font-size: 36px;
    margin-top: 30px;
}
/*xu ly doan text end*/
/*button sub start*/
.buttonsub {
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonsub:hover {
    background-color: #555555;
    color: white;
}
/*button sub end*/
/*footertop end*/
/*footermid start*/
.footermid {
    margin-top: 100px;
    background-color: #232323;
    width: auto;
    height: 250px;
    text-align: left;
}
.box {
    padding-top: 85px;
}
.name {
    color: #6c6c6c;
    font-family: Poppins;
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 3    0px;
}
/*footermid end*/
/*footerbot start*/
.footerbot {
    background-color: #232323;
    width: auto;
    color: #6c6c6c;
}
/*footerbot end*/
/*footer end*/