
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/styles/login.css">
    <link rel="stylesheet" href="~/Content/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <span class="text">Login</span>
        <div class="col-md-3 col-md-offset-4">
            <div class="login-form">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                    <input name="Id" class="form-control" value="" placeholder="Account" id="Id" type="text">
                     </div>
                    <div class="form-group">
                        <input name="Password" class="form-control" value="" placeholder="Password" id="Password" type="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Giữ tôi luôn đăng nhập </label>
                    </div>
                    <br> <input type="submit" class="btn btn-info" value="Đăng nhập" />
                    <br>
                    <br> <a href="#"><small>Quên mật khẩu</small></a>
                    <br>
                    <br>
                    <br>
                    <div>
                        <small style="color: white;">Không có tài khoản?</small> <a href="#"><small>Tạo tài khoản</small></a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
