
@{
    ViewBag.Title = "Keyboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/styles/liststyle.css">

<div class="filter-wrapper">
    <div class="filter-title">Layout</div>
    <div class="checkbox keyboard-layout">
        <label class="checkbox-container">
            Fullsize
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container">
            TKL
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
        <label class="checkbox-container">
            60%
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
</div>
<div class="content">
    <div class="content-header">
        <div class="sort-wrapper">
            <label for="sort">Sort:</label>
            <select id="sort">
                <option value="Best">Best buy</option>
                <option value="AtoZ">From A to Z</option>
                <option value="ZtoA">From Z to A</option>
                <option value="PriceLowToHigh">Price,from low to high</option>
                <option value="PriceHighToLow">Price,from high to low</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="product">
                <a href="#"><img src="~/Content/images/F60 pink.jpg" class="product-img"></a>
                <div class="product-price">2.000.000đ</div>
                <div class="product-name">Bàn phím F60 pink</div>
                <div class="product-info">Bàn phím 60 %</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product">
                <a href="#"><img src="~/Content/images/F60 pink.jpg" class="product-img"></a>
                <div class="product-price">2.000.000đ</div>
                <div class="product-name">Bàn phím F60 pink</div>
                <div class="product-info">Bàn phím 60 %</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="#"><img src="~/Content/images/F60 pink.jpg" class="product-img"></a>
                <div class="product-price">2.000.000đ</div>
                <div class="product-name">Bàn phím F60 pink</div>
                <div class="product-info">Bàn phím 60 %</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="#"><img src="~/Content/images/F60 pink.jpg" class="product-img"></a>
                <div class="product-price">2.000.000đ</div>
                <div class="product-name">Bàn phím F60 pink</div>
                <div class="product-info">Bàn phím 60 %</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="product">
                <a href="#"><img src="~/Content/images/F60 pink.jpg" class="product-img"></a>
                <div class="product-price">2.000.000đ</div>
                <div class="product-name">Bàn phím F60 pink</div>
                <div class="product-info">Bàn phím 60 %</div>
            </div>
        </div
    </div>
</div>

