<div class="content" style=" text-align: center;">
<link rel="stylesheet" href="/Content/styles/shopcart.css">
<div class="h1 text-header" "=" " style="margin-left: 0px; ">NOT THING HERE !!!</div>
<a href="Home/Home" style=""><button class="buttonbuy" style="
    font-size: 1.125rem;
    padding: 0.875rem 1.75rem;
    width: 10%;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
    margin-top: 200px;
    text-align: center;
    color: #fff;
    background-color: #1e88e5;
    border: 1px solid #1e88e5;
    margin-bottom: 40px;">Go Back</button>
</a>
</div>