
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/styles/homestyle.css">
<link rel="stylesheet" href="~/Content/styles/flickity.css" media="screen">

<div class="carousel" data-flickity='{ "autoPlay": 2000, "imagesLoaded": true,"wrapAround": true }'>
    <a href="#"><img src="~/Content/images/F2-1.jpg"></a>
    <a href="#"><img src="~/Content/images/F3-1.jpg"></a>
    <a href="#"><img src="~/Content/images/F4-1.jpg"></a>
    <a href="#"><img src="~/Content/images/F5-1.jpg"></a>
</div>
<div class="container-products">
    <div class="prefixtitle">
        <span class="title">Top Seller</span>
    </div>
    <div class="grid-container">
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F1.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F2.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F3.jpg"></a></div>
    </div>
    <div class="prefixtitle">
        <span class="title">Key Boards</span>
    </div>
    <div class="grid-container">
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F60 pink.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F96 cat.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/F96 knight.jpg"></a></div>
    </div>
    <div class="prefixbutton">
        <a href="#"><button class="button">More Products</button></a>
    </div>
    <div class="prefixtitle">
        <span class="title">Other</span>
    </div>
    <div class="grid-container">
        <div class="grid-item"> <a href="#"><img src="~/Content/images/otherSW.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/otherPad.jpg"></a></div>
        <div class="grid-item"> <a href="#"><img src="~/Content/images/otherLine.jpg"></a></div>
    </div>
    <div class="prefixbutton">
        <a href="#"><button class="button">More Other</button></a>
    </div>
    <div class="prefixtitle"> </div>
</div>

